@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] body {
    background-color: #001529;
    color: #fff;
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
  .ant-menu-item-selected {
    background-color: transparent !important;
  }
  